# Visual Studio 编译输出 - Visual Studio build output
x64/
x86/
bin/
obj/
Debug/
Release/
*.dll
*.obj
*.lib
*.pdb
*.ilk
*.exe
*.out
*.o

# Visual Studio 配置文件 - Visual Studio configuration file
.vs/
*.suo
*.user
*.userprefs

# 备份文件 - Backup files
*.bak
*.tmp
*~

# 其他文件 - Other files
*.log
*.cbp
*.cache
*.layout
*.depend
.DS_Store
Thumbs.db
*.workspace
desktop.ini
